<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Element Study</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./Style/index.css">
</head>
<body>
    <div id="app">
        <h1>同学录</h1>
        <div class="head">
            <el-row :gutter="20">
                <el-col :span="6">
                    <el-input v-model="userInfo.name" placeholder="请输入姓名"></el-input>
                </el-col>
                <el-col :span="6">
                    <el-input v-model="userInfo.gander" placeholder="请输入性别"></el-input>
                </el-col>
                <el-col :span="6">
                    <el-input v-model="userInfo.phoneNum" placeholder="请输入电话"></el-input>
                </el-col>
                <el-col :span="6">
                    <el-date-picker
                            v-model="userInfo.birthDay"
                            type="date"
                            placeholder="选择出生日期">
                    </el-date-picker>
                </el-col>
            </el-row>
        </div>
        <el-button type="primary" class="add">添加信息</el-button>
        <div class="body">
            <el-table
                    :data="tableData"
                    style="width: 100%">
                <el-table-column
                        prop="index"
                        label="序号"
                        type="index"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="姓名"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="gander"
                        label="性别"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="phoneNum"
                        label="电话号码"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="birthDay"
                        label="出生日期">
                </el-table-column>
                <el-table-column
                        prop="address"
                        label="操作">
                    <el-button type="primary" icon="el-icon-edit" circle></el-button>
                    <el-button type="danger" icon="el-icon-delete" circle></el-button>
                </el-table-column>
            </el-table>
        </div>


    </div>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="./Script/index.js"></script>
</body>
</html>
